#yelp-image-small {
    max-width: 250px;
}

#fuder-logo {
    max-width: 100px;
}

#historyModal {
    text-align: left;
}

#modal-body {
    text-align: left;
}

#login-form {
    text-align: left;
}

#registration-form {
    text-align: left;
}

#optionsModal {
    background-color: #EE6E73;
}

#historyModal {
    background-color: #EE6E73;
}