<!doctype html>
<html>
<head>
    <title>{% block title %} Placeholder Title {% endblock %}</title>
    <script src='https://code.jquery.com/jquery.js'></script>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<script src='/static/options.js'></script>
<link rel='stylesheet' href='static/style.css'>

<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <a href='/'>Home</a>
        <a href='/history'>View Visit History</a>
        <a href='/logout'>Log Out</a>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}

        {% endfor %}
    {% endif %}
{% endwith %}


{% block content %}
Placeholder content
{% endblock %}

</body>
</html>