{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}

<form action='/get_user_auth' method='POST'>
    <label><h5>What do you want to do?</h5>
    <button type='button' class='btn btn-outline-secondary venue-option-btn' id='restaurant-button' data-venue-type='restaurant'>
        Eat
    </button>
    <button type='button' class='btn btn-outline-secondary venue-option-btn' id='bar-button' data-venue-type='bar'>
        Drink
    </button>
    <p>What are you in the mood for?</p>
    <select name='venue-option' id='venue-options'>
        <option value='surprise'>Surprise me!</option>
    </select>
    <br>
    <br>
    <p>How spendy are you feeling?</p>
    <input type='checkbox' name='price' value='1'>$
    <input type='checkbox' name='price' value='2'>$$ 
    <input type='checkbox' name='price' value='3'>$$$ 
    <input type='checkbox' name='price' value='4'>$$$$ 
    <br>
    <label>Current Address: <input type='text' name='user-address' id='field-user-address' required>
    </label>
            <br>
    <input type='submit' value='Take me out!' id='uber-auth-button'>
</form>
<br>
<br>
<br>

<a href='/logout'>
    <button type='button' name='logout' id='button-logout'>Log Out</button>
</a>

{% endblock %}