{% extends 'base.html' %}
{% block content %}
    <div id='fuder-logo-div'>
        <img src='static/fuder.png' id='fuder-logo' alt='Fuder'>
    </div>
    <div id='button-wrapper'>
        <div class='modal-button option-buttons'>
            <button type='button' class='btn btn-warning venue-option-btn' id='restaurant-button' name='restaurant-button' data-venue-type='restaurant' data-toggle='modal' data-target='#optionsModal'>
            Eat
            </button>
            <button type='button' class='btn btn-warning venue-option-btn' id='bar-button' name='bar-button' data-venue-type='bar' data-toggle='modal' data-target='#optionsModal'>
            Drink
            </button>
        </div>
        <div class='modal-button history-button'>
            <button type='button' class='btn btn-warning' id='history-button' data-toggle='modal' data-target='#historyModal'>
            View Visit History
            </button>
        </div>
    </div>
        <!-- Options-Modal -->
    <div class='modal fade' id='optionsModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-body' id='modal-body'>
                    <form action='/get_user_auth' method='POST'>
                        <p>What are you in the mood for?</p>
                        <select name='venue-option' id='venue-options'>
                            <option value='surprise'>Surprise me!</option>
                        </select>
                        <p>How spendy are you feeling?</p>
                        <div class='price' data-num='1'>
                            <label>$ <input type='checkbox' name='price' class='checkbox' id='chckbx-1' value='1' /></label>
                            <label>$ <input type='checkbox' name='price' class='checkbox' value='2' /></label>
                            <label>$ <input type='checkbox' name='price' class='checkbox' value='3' /></label>
                            <label>$ <input type='checkbox' name='price' class='checkbox' value='4' /></label>
                        </div>
                        <p>Where can we pick you up?</p><input type='text' name='user-address' id='field-user-address' required placeholder='Required'>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-warning' data-dismiss='modal'>Start Over
                        </button>
                        <input type='submit' class='btn btn-warning' value='Take me out!' id='uber-auth-button'>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- History-Modal -->
    <div class='modal fade' id='historyModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-body'>
                    <ul id='history-list'>
                    </ul>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-warning btn-xlarge' data-dismiss='modal'>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id='footer'>
        <div class='container'>
            <a href='/logout' class='btn btn-warning' id='footer-button'>
                Log Out
            </a>
        </div>
    </div>
{% endblock %}