{% extends 'base.html' %}
{% block content %}
    <form action='/login_submit' class='user-forms' id='login-form' method='POST'>
        <h4>Already registered? Log in here:</h4>
        <label>Email: <input type='text' name='email' id='field-email'></label>
        <label>Password: <input type='password' name='password' id='field-password'></label>
    <input type='submit' name='login-button' class='btn btn-outline-secondary' id='field-login-button' value='Log In'></form>
    <form action='/register' class='user-forms' id='registration-form' method='POST'>
        <h4>Not yet registered? Register here:</h4>
        <label>Email: <input type='text' name='email' id='field-new-email'></label>
        <label>Password: <input type='password' name='password' id='field-new-password'></label>
    <input type='submit' name='register-button' class='btn btn-outline-secondary' id='field-register-button' value='Register'></form>
{% endblock %}