{% extends 'base.html' %}
{% block content %}
    <div class='container centered'>
        <button type='button' class='btn btn-warning' id='preview-button' data-toggle='modal' data-target='#previewModal'>
        Sneak Preview
        </button>
        <div id='fakeloader'></div>
        <div class='modal fade' id='previewModal' role='dialog'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-body'>
                        <img class='yelp-image img-circle' id='yelp-image-small' src=''>
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-outline-secondary' data-dismiss='modal'>Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}